// COLORS
$body-font-family: 'Merriweather';
$primary-color: grey;

$color-primary: #178B16;
$color-primary-light: lighten($color-primary, 10%);;
$color-primary-dark: darken($color-primary, 10%);;

$color-secondary: #80690b;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-tertiary: #b4399e;
$color-tertiary-light: lighten($color-tertiary, 10%);
$color-secondary-dark: darken($color-tertiary, 10%);

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777777;
$color-gray-dark-2: #444;
$color-gray-dark-3: #222;

$color-white: #fff;
$color-black: #000;
$color-danger: #a70101;

// FONT
$default-font-size: 1.6rem;